﻿@{
    ViewBag.Title = "Categories";
}
@using PagedList.Mvc;
@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model PagedList.IPagedList<DataTransferLayer.Products.Product>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<script>
    function Search() {
        var searchString = document.getElementById("searchString").value;
        var categories = document.getElementById("categories").value;
        var position = document.getElementById("position").value;
        var cost = document.getElementById("cost").value;

        location.assign("@Url.Action("Search", "Home")?searchStr=" + searchString + "&name=" + categories + "&pos=" + position + "&cost=" + cost);
    }
</script>

<table style="width: 100%">
    <tr>
        <th style="width: 18%; padding-right: 20px">
            Tên mặt hàng
        </th>
        <th style="width: 18%; padding-right: 20px">
            Loại
        </th>
        <th style="width: 18%; padding-right: 20px">
            Nơi đăng
        </th>
        <th style="width: 18%; padding-right: 20px">
            Giá
        </th>
    </tr>
    <tr>
        <td style="width: 18%; padding-right: 20px">
            <input id="searchString" class="form-control" name="name-product" placeholder="Nhập tên mặt hàng">
        </td>
        <td style="width: 18%; padding-right: 20px">
            <select id="categories" class="form-control" name="name-category" placeholder="Loại mặt hàng">
                <option selected>Tất cả</option>
                @{
                    var cats = WebApiHelper.GetCategoriesFromServer("api/product/categories", Method.GET);
                    foreach (var item in cats)
                    {
                        <option>@item.Name</option>
                    }
                }
            </select>
        </td>
        <td style="width: 18%; padding-right: 20px">
            <select id="position" class="form-control" name="name-address" placeholder="Địa điểm">
                @{
                    var cites = WebApiHelper.GetCitiesFromServer("api/product/cities", Method.GET);
                    foreach (var item in cites)
                    {
                        <option>@item.Name</option>
                    }
                }
            </select>
        </td>
        <td style="width: 18%; padding-right: 20px">
            <select id="cost" class="form-control" name="name-address" placeholder="Giá">
                <option>Tất cả</option>
                <option>Dưới 100k</option>
                <option>100k - 500k</option>
                <option>500k - 2tr</option>
                <option>2tr - 5tr</option>
                <option>5tr - 10tr</option>
                <option>10tr - 50tr</option>
                <option>Trên 50tr</option>
            </select>
        </td>
        <td style="width: 10%; text-align: right">
            <button type="submit" class="btn btn-success" onclick="Search()">Tìm kiếm</button>
        </td>
    </tr>
</table>
<table style="width: 100%">
    <tr>
        <td style="text-align:right">
            Sắp xếp:
            <span class="sort-btn btn"><i class="fa fa-clock-o fa-lg"></i> @Html.ActionLink("  Ngày đăng", "Categories", new { name = ViewBag.CurrentName, sortOrder = ViewBag.DateSortParm })</span>
            <span class="sort-btn btn"><i class="fa fa-money fa-lg"></i> @Html.ActionLink("  Giá", "Categories", new { name = ViewBag.CurrentName, sortOrder = ViewBag.CostSortParm })</span>
        </td>
    </tr>
</table>

<table>
    @foreach (var item in Model)
    {
        var u = WebApiHelper.GetUserFromServer("api/accountManager/account/" + item.UserId, Method.GET);
        <tr>
            <th style="padding-bottom: 50px">
                <div class="row product-row">
                    <div class="col-md-3 img-portfolio">
                        <a href="#">
                            <img class="img-responsive img-hover" src="@item.Picture" alt="">
                        </a>
                    </div>
                    <div class="col-md-8 info">
                        <h4>
                            <a href="@Url.Action("Details", "Product")?id=@item.Id">
                                @item.Name
                            </a>
                        </h4>
                        <p><font color="Red">Giá: @String.Format("{0:0,0 vnđ}", item.Price)</font></p>
                        <p class="inline">Ngày đăng: @String.Format("{0:dd/MM/yyyy}", item.PostingDate)</p>                       
                        <p class="align-right">Nơi đăng: @item.City.Name</p>
                                    
                        <a href="@Url.Action("UserProduct", "Home")?username=@u.UserName" class="inline">Người đăng: @u.UserName</a>
                        @u.Rating<img src="@Url.Content("~/Content/images/yellowstar.gif")" alt="" class="ratingStar" data-value="1" />
                    </div>
                </div>
            </th>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Categories", new { page, name = ViewBag.CurrentName }), PagedListRenderOptions.OnlyShowFivePagesAtATime)