.chart{
	border: solid thin silver;
	width: 1150px;
	height: 200px;
	padding: 10px;
}
.column{
	width: 53px;
	height: 200px;
	margin: 2px 5px;
	float: left;
	position: relative;
}

.column .fill{
	width: 100%;
	position:absolute;
	bottom: 20px;
    background: blue none repeat scroll 0% 0%;
}
.rotulo{
	text-align: center;
}
