﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DASHBOARD - @ViewBag.Title</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/grafico.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/dashboard/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/dashboard/dist/css/skin/_all-skins.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/dashboard/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <!-- Morris chart -->
    <link href="~/Content/dashboard/plugins/morris/morris.css" rel="stylesheet" />
    <!-- jvectormap -->
    <link href="~/Content/dashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <!-- Date Picker -->
    <link href="~/Content/dashboard/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/Content/dashboard/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="~/Content/dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/css/mystyle.css" type="text/css" rel="stylesheet" />
    <!-->JQuery chart</!-->
    <script src="@Url.Content("~/Scripts/jquery/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.knob.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".knob").knob();
        });
    </script>
    <!-- jQuery 2.1.4 -->
    <script src="~/Scripts/jquery/jquery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src=" ~/Content/dashboard/dist/img/avatar04.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Phan Vũ</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src=" ~/Content/dashboard/dist/img/avatar04.png" class="img-circle" alt="User Image">
                                    <p>
                                        Administartor
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @Html.ActionLink("Đăng xuất", "Logout", "Account", null, new { @class = "btn btn-default btn-flat" })

                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" ~/Content/dashboard/dist/img/avatar04.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Phan Vũ</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>


                    @{

                        int a = ViewBag.IsActive;
                       
                        if (a == 1)
                        {
                            <text>
                            <li class="treeview active">
                            </text>
                        }
                        else
                        {
                            @:<li class="treeview">
                        }


                    }

                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li @{if (ViewBag.IsActive_child == 1) { <text> class="active" </text>  }}><a href="@Url.Action("XuLyTaiKhoan", "Dashboard")"><i class="fa fa-circle-o"></i>Quản lý Users</a></li>
                        <li @{if (ViewBag.IsActive_child == 2) { <text> class="active" </text>  }}><a href="@Url.Action("ThongBao", "Dashboard")"><i class="fa fa-circle-o"></i>Thông báo</a></li>
                    </ul>
                </li>
                @{
                    if (a == 2)
                    {
                        @:<li class="treeview active">
                        }
                    else
                    {
                        @:<li class="treeview">
                        }

                }
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Thống kê</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li @{if (ViewBag.IsActive_child == 3) { <text> class="active" </text>  }}><a href="@Url.Action("Statistics", "Dashboard")"> <i class="fa fa-circle-o"></i>Thống kê trong tháng</a></li>
                    <li @{if (ViewBag.IsActive_child == 4) { <text> class="active" </text>  }}><a href="@Url.Action("Sta_acc", "Dashboard", new { Year = 0 })"><i class="fa fa-circle-o"></i> Thống kê tài khoản</a></li>
                    <li @{if (ViewBag.IsActive_child == 5) { <text> class="active" </text>  }}><a href="@Url.Action("Sta_post", "Dashboard", new { Year = 0 })"><i class="fa fa-circle-o"></i> Thống kê bài viết</a></li>
                    <li @{if (ViewBag.IsActive_child == 6) { <text> class="active" </text>  }}><a href="@Url.Action("Sta_mess", "Dashboard", new { Year = 0 })"><i class="fa fa-circle-o"></i> Thống kê tin nhắn</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Xem danh sách report</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Xem chi tiết</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> ....</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Nội dung viết ở đây -->
        <!-- Nội dung viết ở đây -->
        <!-- Nội dung viết ở đây -->
        <!-- Nội dung viết ở đây -->
        @RenderBody()

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.2
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
</footer>
<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.5 -->
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<!-- Sparkline -->
<script src="~/Content/dashboard/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="~/Content/dashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Content/dashboard/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/Content/dashboard/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="~/Content/dashboard/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="~/Content/dashboard/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Content/dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="~/Content/dashboard/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Content/dashboard/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dashboard/dist/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/Content/dashboard/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Content/dashboard/dist/js/demo.js"></script>
</body>
</html>
