﻿@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
<!DOCTYPE html>

<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>    

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-select.min.css")" type="text/css">

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/css/carousel.css")" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">

    <script src="~/Scripts/jquery/jquery-2.1.4.min.js"></script>

    <script type="text/javascript">
        function next(currentId) {
            var nextId = currentId + 1;
            $('.stage_style:lt(' + nextId + ')').removeClass().addClass(
                'stage_style ' + "visited");
            $('.stage_style:eq(' + nextId + ')').removeClass().addClass(
                'stage_style ' + "current");
            $('#stage-form-' + currentId).hide(); //css("display", "none");
            $('#stage-form-' + nextId).show();
        }

        function back(currentId) {
            var preId = currentId - 1;
            $('.stage_style:eq(' + currentId + ')').removeClass().addClass(
                'stage_style');
            $('.stage_style:eq(' + preId + ')').removeClass().addClass(
                'stage_style ' + "current");
            $('#stage-form-' + currentId).hide();
            $('#stage-form-' + preId).show();
        }

        function OpenLogin(id) {
            if (id == null) {
                location.assign("@Url.Action("Login", "Account")");
            } else {
                location.assign("@Url.Action("UpLoad", "ProductManager")");
            }
        }

        function Submit() {
            if (confirm("Bạn có chắc chắn muốn đăng xuất ?")) {
                location.assign("@Url.Action("Logout", "Account")");
            } else {
                return false;
            }
            return false;
        }
    </script>

    <!--fb-->

    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into Facebook.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1446350922337661',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.3' // use version 2.2
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                  'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>

</head>
<body>
    <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1446350922337661',
            xfbml: true,
            version: 'v2.3'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-fixed-top">
            <!-- <div class="container"> -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="img-responsive" src="~/Content/images/logo.png" alt="Logo"></a>
            </div>

            <ul id="menu">
                <li><b>@Html.ActionLink("Trang chủ", "Index", "Home")</b></li>
                <li><a href="#about"><b>Thông tin</b></a></li>
                <li><a href="#contact"><b>Liên hệ</b></a></li>

                @if (@Session["role"] != null && (string) @Session["role"] == "Admin")
                {
                    <li class="nav-dasboard">
                        <b>@Html.ActionLink("Quản trị", "Index", "Dashboard")</b>
                    </li>
                }

                <li class="my-menu">
                    <b>
                        @if (Request.IsAuthenticated)
                        {
                            <text>Xin chào,</text>
                            <a style="margin-right: 14px; color: white" href="@Url.Action("ListProduct", "ProductManager") ">@Html.Encode(User.Identity.Name) </a>

                            <a onclick="Submit()">Đăng xuất</a>
                        }
                        else
                        {
                            @Html.ActionLink("Đăng kí", "Register", "Account")
                            <span> | </span>
                            @Html.ActionLink("Đăng nhập", "Login", "Account")
                        }

                        <li>
                            <button class="btn btn-openid" onclick="OpenLogin(@Session["UserID"])">Đăng món đồ</button>
                        </li>
                    </b>
                </li>


            </ul>
            <!-- </div> -->
        </nav>
    </div>
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="http://demo.bestdnnskins.com/portals/15/Images/banner_img4.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Placed advertisiment here</p>
                    <p><a class="btn btn-md btn-primary" href="#" role="button">Sign up today</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="http://wowslider.com/sliders/demo-72/data1/images/114h.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><a class="btn btn-md btn-primary" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="http://www.jssor.com/img/home/01.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><a class="btn btn-md btn-primary" href="#" role="button">Browse gallery</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="fourth-slide" src="http://bxslider.com/images/home_slides/houses.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><a class="btn btn-md btn-primary" href="#" role="button">Browse gallery</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="fifth-slide" src="http://bxslider.com/images/home_slides/hillside.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><a class="btn btn-md btn-primary" href="#" role="button">Browse gallery</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<!-- Main content-->
<div class="main-content">
    <table class="table-condensed" style="width: 100%">
        <tr>
            <td style="width: 15%; vertical-align: top">
                <div class="list-group">
                    <label style="font-size: x-large; margin-top: 30px" class="label label-primary">DANH MỤC</label>
                    @{
                        var cats = WebApiHelper.GetCategoriesFromServer("api/product/categories", Method.GET);
                        foreach (var item in cats)
                        {
                            <a href="@Url.Action("Categories", "Home")?name=@item.Name" class="list-group-item">@item.Name</a>
                        }
                    }
                </div>
            </td>
            <td style="width: 70%; vertical-align: top; padding-left: 20px; padding-right: 20px">
                @RenderBody()
            </td>
            <td style="width: 15%; vertical-align: top">
                <label style="font-size: x-large; margin-top: 30px" class="label label-primary">TOP RATING</label>
                @{
                    var users = WebApiHelper.GetUsersFromServer("api/accountManager/account/all", Method.GET);

                    if (users.Count < 5)
                    {
                        foreach (var item in users)
                        {
                            if (item.Rating > 1)
                            {
                                <a href="@Url.Action("UserProduct", "Home")?username=@item.UserName" class="list-group-item">@item.UserName</a>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 0; i < 5; i++)
                        {
                            int index = 0;
                            int max = 0;
                            for (int j = 0; j < users.Count; j++)
                            {
                                if (users[j].Rating > max)
                                {
                                    index = j;
                                    var rating = users[j].Rating;
                                    if (rating != null)
                                    {
                                        max = (int) rating;
                                    }
                                }
                            }

                            <a href="@Url.Action("UserProduct", "Home")?username=@users[index].UserName" class="list-group-item">@users[index].UserName</a>
                            users.RemoveAt(index);
                        }
                    }
                }
            </td>
        </tr>
    </table>
</div>

<!-- FOOTER -->
<footer>
    <div class="footer container-fluid">
        <p>&copy; DE &middot; <a href="#">Website trao đổi, mua bán đồ cũ</a> &middot; <a href="#">v1.0</a>
        </p>
    </div>
</footer>

<!-- jQuery -->
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery-1.11.3.min.js")"></script>
<script src="~/Scripts/jquery/jquery.preview_images.js"></script>
<!-- boostrap -->
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap/bootstrap-select.min.js")"></script>
</body>
</html>
