﻿@{
    ViewBag.Title = "EditPicture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model DataTransferLayer.Products.Product

<h2>Cập nhật hình ảnh</h2>
<table style="width: 100%">
    <tr>
        <td style="width: 70%">
            <table>
                <tr>
                    <td style="padding: 20px">
                        <h4>Hình chính</h4>
                        <img style="width: 180px; height: 180px" src="@Model.Picture" />
                    </td>
                    @{
                        var images = WebApiHelper.GetProductImagesFromServer("api/product/productImage/all", Method.GET).Where(p=>p.ProductId == @Model.Id).ToList();
                        if (images.Count == 0 && @Model.Picture != "Product-Value.jpg")
                        {
                            <td style="padding: 20px">
                                <button type="button" onclick="RemoveTheMainPicture(@Model.Id)" class="btn btn-danger">Xóa hình chính</button>
                            </td>
                        }
                    }
                </tr>
                @{
                    var imgs = WebApiHelper.GetProductImagesFromServer("api/product/productImage/all", Method.GET);
                    foreach (var item in imgs)
                    {
                        if (item.ProductId == @Model.Id)
                        {
                            <tr>
                                <td style="padding: 20px">
                                    <img style="width: 100px; height: 100px" src="~/Content/images/ProductImage/@item.ImageLink" />
                                </td>
                                <td>
                                    <button type="button" onclick="ReplaceMainPicture(@item.Id)" class="btn btn-success">Thay làm hình chính</button>
                                    <button type="button" onclick="RemoveThePicture(@item.Id)" class="btn btn-danger">Xóa hình</button>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </td>
        <td style="width: 30%; text-align: right; vertical-align: top">
            <h3>Upload thêm hình ảnh</h3>
            @using (Html.BeginForm("EditPicture", "ProductManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="ProID" value="@Model.Id"/>
                <input type="file" name="files" value="" multiple="multiple" /><br />
                <input class="btn btn-success" type="submit" value="Upload You Image" title="Upload" />
                <div style="color:Red;font-size:14px">@ViewBag.Message</div><br />
            }
        </td>
    </tr>
</table>



<script>
    function ReplaceMainPicture(id) {
        location.assign("@Url.Action("ReplaceMainPicture", "ProductManager")?id=" + id);
    }

    function RemoveThePicture(id) {
        if (confirm("Bạn có chắc chắn xóa hình này không?")) {
            location.assign("@Url.Action("RemoveThePicture", "ProductManager")?id=" + id);
        } else {

        }
    }

    function RemoveTheMainPicture(id) {
        if (confirm("Bạn có chắc chắn xóa hình này không?")) {
            location.assign("@Url.Action("RemoveTheMainPicture", "ProductManager")?id=" + id);
        } else {

        }
    }
</script>
