﻿
@{
    ViewBag.Title = "EditSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa thành công</h2>
Click vào
<a href="@Url.Action("Index", "Home")">đây</a>
 để trở về trang chủ

