﻿
@{
    ViewBag.Title = "ListProductKey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<DataTransferLayer.Products.Product>

<h2>Danh sách sản phẩm gợi ý</h2>
<div style="padding-bottom: 50px">
    @Html.ActionLink("Gợi ý theo giá", "ListProductKey", new { ProID = ViewBag.ID, type = "price" }) | 
    @Html.ActionLink("Gợi ý theo từ khóa", "ListProductKey", new { ProID = ViewBag.ID, type = "key" })
</div>
<table class="table-hover" style="width: 100%">
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 10%; text-align: left">
                <img src="@item.Picture" alt="gallery thumbnail" width="120" height="120" />
            </td>
            <td style="width: 20%; text-align: left; padding: 50px">
                <a href="@Url.Action("Details","Product")?id=@item.Id"><font style="font-size:large">@item.Name</font></a><br />
                <font style="font-size:large; color:red; font-style:oblique">Giá: @String.Format("{0:0,0 vnđ}", item.Price)</font><br />
                <font style="font-size:large">Loại: @item.Category.Name</font>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("ListProductKey", "ProductManager", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
