﻿
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<DataTransferLayer.Products.Product>
            
<h2>Danh sách món hàng</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="@Url.Action("ListProduct", "ProductManager")">Sản phẩm của tôi</a></li>
    <li role="presentation"><a href="@Url.Action("DisplayUserInfo", "Account")">Thông tin cá nhân</a></li>
    <li role="presentation"><a href="@Url.Action("DisplayFollowedProduct", "Account")">Danh sách sản phẩm đang follow</a></li>

</ul>
<table class="table-hover" style="width: 100%">
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 10%; text-align: left">
                <img src="~/Content/images/ProductImage/@item.Picture" alt="gallery thumbnail" width="120" height="120" />
            </td>
            <td style ="width: 30%; text-align: left; padding: 50px">
                <a href="@Url.Action("Details","Product")?id=@item.Id"><font style="font-size:large">@item.Name</font></a><br />
                <font style="font-size:large; color:red; font-style:oblique">Giá: @String.Format("{0:0,0 vnđ}", item.Price)</font>
                <font style="font-size:large">Loại: @item.Category.Name</font>
            </td>
            <td style="text-align: right; width: 60%">
                <button type="button" class="btn btn-success" onclick="ShowProductKey(@item.Id)">Xem danh sách gợi ý</button>   
                <button type="button" class="btn btn-info" onclick="EditProduct(@item.Id)">Sửa thông tin</button>   
                <button type="button" class="btn btn-info" onclick="EditProductPicture(@item.Id)">Cập nhật hình ảnh</button>   
                <button type ="button" class="btn btn-danger" onclick="Confirm(@item.Id)">Xóa</button>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("ListProduct", "ProductManager", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

<script>
    function Confirm(id){
        if (confirm("Bạn có chắc chắn xóa món đồ này không?")) {
            location.assign("@Url.Action("RemoveProduct", "ProductManager")?ProID=" + id);
        } else {

        }
    }

    function ShowProductKey(id) {
        location.assign("@Url.Action("ListProductKey", "ProductManager")?ProID=" + id + "&type=price");
    }

    function EditProduct(id) {
        location.assign("@Url.Action("EditProduct", "ProductManager")?ProID=" + id);
    }

    function EditProductPicture(id) {
        location.assign("@Url.Action("EditPicture", "ProductManager")?ProID=" + id);
    }
</script>


