﻿
@{
    ViewBag.Title = "UploadPicture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload hình ảnh</h2><br />
<p>Hãy thêm hình ảnh để sản phẩm dễ dàng trao đổi mua bán hơn</p><br />
@using (Html.BeginForm("UploadPicture", "ProductManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" value="" multiple="multiple" /><br />
    <input class="btn btn-success" type="submit" value="Upload You Image" title="Upload" />
    <div style="color:Red;font-size:14px">@ViewBag.Message</div><br />
}

@if (ViewBag.Link != null)
{
    <button type="button" class="btn btn-success" onclick="LinkToSuccess()">@ViewBag.Link</button>
}
else
{
    <button type="button" class="btn btn-success" onclick="LinkToSuccess()">Bỏ qua bước này</button>
}

<script>
    function LinkToSuccess() {
        location.assign("@Url.Action("UpLoadSuccessful", "ProductManager")");
    }
</script>
