﻿@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model TraoDoiDoCu_FrontendMVC.Models.ProductManager.ProductUploadViewModel

@{
    ViewBag.Title = "UpLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SelectList list;
    list = new SelectList(WebApiHelper.GetCategoriesFromServer("api/product/categories", Method.GET), "Id", "Name");
    SelectList listPos = new SelectList(WebApiHelper.GetCitiesFromServer("api/product/cities", Method.GET), "ID", "Name");
    
}


<div class="my-content">
    <h2>Đăng món đồ</h2>

    <p>@ViewBag.Message</p>
    @using (Html.BeginForm("UpLoad", "ProductManager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.ProductName, new { @class = "col-md-5 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-5 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedCat, new { @class = "col-md-5 control-label" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.SelectedCat, list, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProductPrice, new { @class = "col-md-5 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedPos, new { @class = "col-md-5 control-label" })
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.SelectedPos, listPos, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProductKey, new { @class = "col-md-5 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.ProductKey, new { @class = "form-control" })
                <br />
                <label style="font-style:italic">VD: Xe đạp, Dell Vostro, Casio...</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Tiếp theo" />
            </div>
        </div>
    }
</div>

