﻿@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model DataTransferLayer.Products.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/hoverbox.css" rel="stylesheet" />
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    function notificationLog() {
        alert("Vui lòng đăng nhập để sử dụng chức năng này");
    }
</script>

<!-- Page Heading/Breadcrumbs -->
<table style="width: 100%">
    <tr>
        <h1 class="page-header"> Chi tiết sản phẩm <small>các mặt hàng</small> </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a> </li>
            <li class="active">@Model.Name</li>
        </ol>
    </tr>
    <!-- Content Column - Nội dung của trang cụ thể trong div này -->
    <tr>
        <td style="width: 80%">
            <div class="row main_content">
                <div class="col-md-3">
                    <img class="img-rounded" src="@Model.Picture" alt="main-image" width="250" height="350"> </img>
                </div>
                <div class="col-md-5">
                    <div class="row info_item">
                        <h3>@Model.Name</h3>
                        <p>@Model.Description</p>
                        <div class="info_row"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> @ViewBag.CatName </div>
                        <div class="info_row"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Ngày đăng: @String.Format("{0:dd/MM/yyyy}", Model.PostingDate)</div>
                        <div class="info_row"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <font color="Red" style="font-size: 20px; font-style: oblique">Giá: @String.Format("{0:0,0 vnđ}", Model.Price)</font> </div>
                    </div>
                    <br>
                    <div class="row info_item">
                        @Html.Action("ProductImagePartial", "Product", new { @productID = @Model.Id })
                    </div>
                    <div class="row info_row">

                        <div class="fb-share-button" data-href="https://www.facebook.com/groups/1477156625945895/" data-layout="button_count"></div>
                        @{
                            var u = WebApiHelper.GetUserFromServer("api/accountManager/account/" + Model.UserId, Method.GET);
                            if (User.Identity.Name != u.UserName)
                            {
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <a id="notregflbtn" class="follow-this" title="Theo dõi sản phẩm này">Follow</a>
                                }
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (ViewBag.follow == false)
                                    {
                                        <a id="flbtn" class="follow-this" title="Theo dõi sản phẩm này">Follow</a>
                                    }
                                    if (ViewBag.follow == true)
                                    {
                                        <a id="unflbnt" class="unfollow-this" title="Ngừng theo dõi sản phẩm này">Unollow</a>
                                    }
                                }
                            }
                        }                       
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.Action("PosterInfoPartial", "Product", new { @PosterID = @Model.UserId, @productID = @Model.Id })
                    @Html.Partial("VoteNow", Model)
                    <div class="voted">
                        @Html.Partial("VoteShow", Model)
                    </div>
                </div>
            </div>
            @*<div class="row">
                    @Html.Partial("VoteNow", Model)
                    @Html.Partial("VoteShow", Model)
                </div>*@
            <div class="">
                @if (ViewBag.follow == true)
                {
                    <span style="color:green">Bạn đang theo dõi sản phẩm này</span>
                }
            </div>
            <div class="row">
                @Html.Action("ProductCommentPartial", "Product", new { productID = @Model.Id, ViewBag.page })
            </div>
        </td>
    </tr>
</table>

<script>
    jQuery(document).ready(function ($) {
        $('#flbtn').click(function () {
            var productId = Number(@Model.Id);
            var page = Number(@ViewBag.page);
            if (page == 0)
                page += 1;
            var url = "@Url.Action("Checkfollow", "Product")";
            $.post(url, { productID: productId, page: page }, function (data) {
                if (data)
                            location.assign("@Url.Action("Details")" + "/" + productId + "?page=" + page);
            });
        });
        $('#unflbnt').click(function () {
            var productId = Number(@Model.Id);
            var page = Number(@ViewBag.page);
            if (page == 0)
                page += 1;
            var url = "@Url.Action("Unfollow", "Product")";
            $.post(url, { productID: productId, page: page }, function (data) {
                if (data)
                    location.assign("@Url.Action("Details")" + "/" + productId + "?page=" + page);
            });
        });
        $('#notregflbtn').click(function () {
            alert("Vui lòng đăng nhập để sử dụng chức năng này");
        });
    });
</script>

<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright © Trang web trao đổi đồ cũ 2015</p>
        </div>
    </div>
</footer>