﻿@model DataTransferLayer.Accounts.User


<script>
    function postReport() {
        var reportforId = Number(@Model.Id);
        var productId = Number(@ViewBag.productID);
        var reasonP = document.getElementById("reasonP").value;
        var reasonU = document.getElementById("reasonU").value;
        var desc = document.getElementById("description-text").value;
        var url = "@Url.Action("PostReport", "Product")";
            $.post(url, { reportforID: reportforId, productID: productId, reasonP: reasonP, reasonU: reasonU, desc: desc }, function(data)
            {
                if (data == true) {
                    $("#sendMailModal").modal('hide');
                    alert("Report thành công");
                }
                else
                    alert(data);
            }
                );
    }
</script>

<div class="panel panel-info">
    <div class="panel-heading" align="center">Liên hệ</div>
    <div class="panel-body" align="center">
        <div class="poster_avatar">
            <img class="img-rounded" alt="Avatar" width="100" height="100" src="@Model.UserImage" />
        </div>
        <br />
        <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-title="@Model.UserName" data-placement="bottom" data-content="@Model.Phone">Điện thoại</button>
        @if (!User.Identity.IsAuthenticated)
        {
            <button type="button" id="notshow_mdo" class="btn btn-danger" onclick="notificationLog()">Gửi report</button>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sendMailModal" data-whatever="mdo">Gửi report</button>
            <div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="sendMailModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="sendMailModalLabel">Gửi mail</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <table style="width: 100%">
                                        @*<label for="sender-name" class="control-label">Người gửi:</label>
                                            <input type="text" class="form-control" id="sender-name">
                                            <label for="sender-phone" class="control-label">Số điện thoại:</label>
                                            <input type="text" class="form-control" id="sender-phone">*@
                                        <tr>
                                            <th style="width: 36%; padding-right: 10px">
                                                Về sản phẩm
                                            </th>
                                            <th style="width: 36%; padding-right: 10px">
                                                Về người đăng
                                            </th>
                                        </tr>
                                        <tr>
                                            <td style="width: 30%; padding-right: 10px">
                                                <select id="reasonP" class="" name="name-ReasonP" style="width:200px">
                                                    <option selected value="">...</option>
                                                    <option>Sản phẩm kém chất lượng</option>
                                                    <option>Nội dung sản phẩm không lành mạnh</option>
                                                </select>
                                            </td>
                                            <td style="width: 30%; padding-right: 10px">
                                                <select id="reasonU" class="" name="name-ReasonU" style="width:200px">
                                                    <option selected value="">...</option>
                                                    <option>Giao dịch lừa đảo</option>
                                                    <option>Thái độ kém văn hóa</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <table style="width: 100%">
                                        <tr>
                                            <th>
                                                Mô tả thêm
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea class="form-control" id="description-text"></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" id="submit_report" onclick="postReport()">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
<script type="text/javascript">
    $('#sendMailModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>


