﻿@using PagedList
@using PagedList.Mvc
@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model IPagedList<DataTransferLayer.Accounts.Comment>

<div class="row">
    @foreach (var item in Model)
    {
        if (item != null)
        {
            var u = WebApiHelper.GetUserFromServer("api/accountManager/account/" + item.UserId, Method.GET);
            if (u != null)
            {
                <div class="commentbox">
                    <div class="avatar_box">
                        <img class="avatar" style="width: 80px; height: 80px" alt="Avatar" src="~/Content/images/Avatar/@u.UserImage" />
                        <a class="username" href="@Url.Action("UserProduct", "Home")?username=@item.User.UserName">@u.UserName</a>
                    </div>
                    <div class="comment_body">
                        <span class="tip tip-left"></span>
                        <div class="message">
                            <span>@item.TextContent</span>
                        </div>
                        @if (item.PostingDate.Date == DateTime.Now.Date)
                        {
                            <span class="date">@String.Format("{0:HH:mm}", item.PostingDate)</span>
                        }
                        else
                        {
                            <span class="date">@String.Format("{0:dd/MM/yyyy}", item.PostingDate)</span>
                        }
                    </div>
                </div>
            }
        }
    }

    <div style="clear:both"></div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Details", new { id = ViewBag.productID, page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <textarea class="form-control" rows="5"></textarea>
    <br />
    <button type="button" class="btn btn-primary" onclick="notificationLog()">Gửi bình luận</button>
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <textarea class="form-control" rows="5" id="comment_content"></textarea>
        <br />
        <button type="button" class="btn btn-primary" onclick="postComment()">Gửi bình luận</button>
    </div>
}

<script>
    function postComment() {
        var productId = Number(@ViewBag.productID);
        var page = Number(@ViewBag.page);
        if (page == 0)
            page += 1;
        var desc = document.getElementById("comment_content").value;
        var url = "@Url.Action("SubmitComment", "Product")";
        $.post(url, { desc: desc, productID: productId, page: page }, function (data) {
            if (data == true)
                location.assign("@Url.Action("Details")" + "/" + productId + "?page=" + page);
            else if (data == false)
                alert("Gửi bình luận không thành công, vui lòng thử lại");
            else
                alert(data);
        }
                );
    }
</script>
