﻿@model List<DataTransferLayer.Products.ProductImage>

<div class="gallery">
    <div class="gallery_list">
        <ul>

            @for (int i = 0; i < Model.Count(); i++)
            {
                if (i < 3)
                {
                    <li class="gallery_list_item">
                        <a class="preview" href="@Model[i].ImageLink">
                            <img src="@Model[i].ImageLink" alt="gallery thumbnail" width="70" height="70" />
                        </a>
                    </li>
                }
                else
                { break; }
            }
            @if (Model.Count() >= 4)
            {
                <li class="gallery_list_item">
                    <a class="moreimage" data-toggle="modal" data-target="#imagebox">more...</a>
                </li>
            }
        </ul>
    </div>
</div>

<div class="modal fade" id="imagebox" tabindex="-1" role="dialog" aria-labelledby="sendMailModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: #F6F3F0 none repeat scroll 0% 0%">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="sendMailModalLabel">More image</h4>
                </div>
                <div class="modal-body">*@
            <div class="panel" style="background: #F6F3F0 none repeat scroll 0% 0%">
                <div class="panel-body">
                    <ul class="hoverbox">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a href="#"><img src="@item.ImageLink" alt="description" /><img src="@item.ImageLink" alt="description" class="preview" /></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            @*</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>*@
        </div>
    </div>
</div>

