﻿@model TraoDoiDoCu_FrontendMVC.Models.Products.Comment

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label for="comment">Bình luận:</label>
            <textarea name="TextContent" class="form-control" rows="5" id="content"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Gửi bình luận</button>
        </div>

    </div>
}


