﻿@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model DataTransferLayer.Products.Product

@{
    Single m_Average = 0;
    Single m_inPercent = 0;
    var thisVote = string.Empty;

    var votes = WebApiHelper.GetVoteLogsFromServer("api/userAction/vote/all", Method.GET).Where(vc => vc.VoteForId == Model.UserId);
    var sumVote = (from v in votes select v.Vote).Sum();
    var voteCount = (from v in votes select v).Count();

    if (voteCount > 0)
    {
        m_Average = Single.Parse(sumVote.ToString()) / Single.Parse(voteCount.ToString());
        m_inPercent = (m_Average * 100) / 5;

        thisVote = "<span style=\"display: block; width: 65px; height: 13px; background: url(" + @Url.Content("~/Content/images/whitestar.gif") + ") 0 0;\">" +
            "<span style=\"display: block; width: " + m_inPercent + "%; height: 13px; background: url(" + @Url.Content("~/Content/images/yellowstar.gif") + ") 0 -13px;\"></span> " +
            "</span>" +
            "<span class=\"smallText\">Số người rating: <span itemprop=\"ratingCount\">" + Single.Parse(voteCount.ToString()) + "</span> | Rating: <span itemprop=\"ratingValue\">" + m_Average.ToString("##.##") + "</span> / 5 </span>  ";
    }
}
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="bestRating" content="5" />
    <meta itemprop="worstRating" content="1">
    <meta itemprop="ratingValue" content="@m_Average.ToString("##.##") %>" />
    @Html.Raw(thisVote)
</div>