﻿@model DataTransferLayer.Accounts.User
@{
    ViewBag.Title = "DisplayUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>THÔNG TIN TÀI KHOẢN</h2>*@

<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="@Url.Action("ListProduct", "ProductManager")">Sản phẩm của tôi</a></li>
        <li role="presentation"><a href="@Url.Action("DisplayUserInfo", "Account")">Thông tin cá nhân</a></li>
        <li role="presentation"><a href="@Url.Action("DisplayFollowedProduct", "Account")">Danh sách sản phẩm đang follow</a></li>

    </ul>
    <div>
        <table style="width: 100%">
            <tr>
                <td style="width: 30%">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td id="table-first-column" style="vertical-align: middle; text-align: center">
                                    <br />
                                    <font style="font-size:xx-large; color: red">AVATAR</font><br />
                                    <img style="width:200px; height:200px" src="@Model.UserImage" /><br />
                                    <a href="@Url.Action("UploadImage", "Account")">Thay ảnh đại diện</a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </td>
                <td style="width: 70%">
                    <div class="user-information">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th id="table-first-column"><font style="font-size:xx-large; color: red">THÔNG TIN TÀI KHOẢN</font></th>
                                    <th id="table-second-column"></th>
                                    <th id="table-third-column"><a href="@Url.Action("DirectToEditableUserInfo", "Account")"/> CHỈNH SỬA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tên tài khoản</td>
                                    <td>@Model.UserName</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Họ</td>
                                    <td>@Model.FirstName</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Tên</td>
                                    <td>@Model.LastName</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="contact-infomation">
                            <div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th id="table-first-column"><font style="font-size:xx-large; color: red">THÔNG TIN LIÊN HỆ</font></th>
                                            <th id="table-second-column"></th>
                                            <th id="table-third-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Email</td>
                                            <td>@Model.Email</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại</td>
                                            <td>@Model.Phone</td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="account-management">
                            <div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th id="table-first-column"><font style="font-size:xx-large; color: red">BẢO MẬT</font></th>
                                            <th id="table-second-column"></th>
                                            <th id="table-third-column"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mật khẩu</td>
                                            <td>************</td>
                                            <td></td>
                                        </tr>
                                        @*<tr>
                            <td>Xóa tài khoản</td>
                            <td></td>
                            <td></td>
                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </td>
            </tr>
        </table>
    </div>
</div>

    

    @*<div class="info-change-confirm">
            <div class="confirm-button">
                <button type="button" class="btn btn-primary" id="OK-button">Ok</button>
                <button type="button" class="btn btn-deafault" id="Cancel-button">Cancel</button>
            </div>
        </div>*@

