﻿@*@using TraoDoiDoCu.Models;
    @model List<Product>*@
@using PagedList
@using PagedList.Mvc
@using RestSharp
@using TraoDoiDoCu_FrontendMVC.Controllers
@model IPagedList<DataTransferLayer.Products.Product>
@{
    ViewBag.Title = "DisplayFollowedProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="@Url.Action("ListProduct", "ProductManager")">Sản phẩm của tôi</a></li>
        <li role="presentation"><a href="@Url.Action("DisplayUserInfo", "Account")">Thông tin cá nhân</a></li>
        <li role="presentation"><a href="@Url.Action("DisplayFollowedProduct", "Account")">Danh sách sản phẩm đang follow</a></li>
        
    </ul>

    <h2>Sản phẩm bạn đang theo dõi</h2>
    

    <table>
        @foreach (var item in Model)
        {
            <tr>
                <th style="padding-bottom: 50px">
                    <div class="row product-row">
                        <div class="col-md-3 img-portfolio">
                            <a href="#">
                                <img class="img-responsive img-hover" src="@item.Picture" alt="">
                            </a>
                        </div>
                        <div class="col-md-8 info">
                            <h4>
                                <a href="@Url.Action("Details", "Product")?id=@item.Id">
                                    @item.Name
                                </a>
                            </h4>
                            @*<p>Giá: @item.Price</p>
                            <p class="inline">Ngày đăng: @item.PostingDate</p>
                            <p class="align-right">Nơi đăng: @item.Location*</p>*@

                            @{
                                var users = WebApiHelper.GetUsersFromServer("api/accountManager/account/all", Method.GET);
                                foreach (var user in users)
                                {
                                    if (user.Id == item.UserId)
                                    {
                                        <a href="@Url.Action("UserProduct", "Home")?username=@user.UserName" class="inline">Người đăng: @user.UserName</a>
                                        var u = WebApiHelper.GetUserFromServer("api/accountManager/account/" + item.UserId, Method.GET);
                                        @u.Rating<img src="@Url.Content("~/Content/images/yellowstar.gif")" alt="" class="ratingStar" data-value="1" />
                                    }
                                }
                            }

                            <p> <a href="@Url.Action("DeleteAFollowedProduct", "Account")?followedProductID=@item.Id" class="btn btn-danger" role="button">Xóa</a> </p>
                        </div>
                    </div>
                </th>
            </tr>
        }
    </table>

    <div style="clear:both"></div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("DisplayFollowedProduct", new { page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>

