﻿@model TraoDoiDoCu_FrontendMVC.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-content">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>
    <p class="alert">@ViewBag.Alert</p>
    <div class="row">
        <div class="col-md-8">
            <section id="forgotPasswordForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Nhập email để reset password:</h4>
                    <hr />
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
