﻿@model TraoDoiDoCu_FrontendMVC.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="my-content">
    <h2>Login</h2>
    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form", ViewBag.ReturnUrl}))
            {
                @Html.AntiForgeryToken()
                <hr/>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "col-md-4 control-label"})
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-4 control-label"})
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-3">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    </div>
                    <div class="col-md-3">
                        <fb:login-button scope="public_profile,email" class="btn btn-default" onlogin="checkLoginState();">
                        </fb:login-button>
                    </div>
                </div>

                <div class="col-md-offset-4 col-md-8">
                    <p>
                        @Html.ActionLink("Reset password", "ForgotPassword") nếu bạn quên mật khẩu.
                    </p>
                </div>
            }
</section>
        
    </div>
</div>



