﻿@model DataTransferLayer.Accounts.User

<ul class="nav nav-tabs">
    <li role="presentation"><a href="@Url.Action("ListProduct", "ProductManager")">Sản phẩm của tôi</a></li>
    <li role="presentation"><a href="@Url.Action("DisplayUserInfo", "Account")">Thông tin cá nhân</a></li>
    <li role="presentation"><a href="@Url.Action("DisplayFollowedProduct", "Account")">Danh sách sản phẩm đang follow</a></li>

</ul>

<p style="text-align: center">
    @using (Html.BeginForm("UploadImage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <font style="font-size:xx-large; color: red">AVATAR</font><br />
        <img style="width:200px; height:200px" src="@Model.UserImage" /><br />
        <input type="file" class="upload" name="FileUp"><br />
        <input class="btn btn-success" type="submit" value="Upload" /><br />
        @ViewBag.Message
    }
</p>
